<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/create_edit.css">
    <title>Crear cuenta - Nefelibata</title>
</head>
<body>
    
    <%- include("../partials/header") %>

    <main>

        <p class="creating-account">EDITAR PRODUCTO</p>

        <p class="text-benefit">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
 

        <form action="../views/confirmation.html" method="post" class="form1">
            <div class="control-formulario">
                <label for="Nombre_producto">Nombre de Prducto</label>
                <input type="text" name="Nombre" id="Nombre_producto" placeholder="Ej. Agenda" required class="control">
            </div>
            <div class="control-formulario"> 
                <label for="categoria">Categoria</label>
                <select name="categoria" required>
                  <option value="">Categoria 1</option>
                  <option value="">Categoria 2</option>
                  <option value="">Categoria 3</option>
                  <option value="">Categoria 4</option>
                </select>
            </div>
            <div class="control-formulario">     
                    <label for="color">Color</label>
                    <select name="color">
                      <option value="#ff0000">Rojo</option>
                      <option value="#00ff00">Verde</option>
                      <option value="#0000ff">Azul</option>
                      <option value="#770077">Morado</option>
                    </select>
                </div>
                
            <div class="control-formulario">    
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="descripcion" required class="control">Detalle de Producto</textarea>
            </div>

            <div class="control-formulario">    
                <label for="precio">Precio</label>
                <input type="texto" name="precio" id="precio" required placeholder="$ 00.000" class="control">
            </div>

            <div class="control-formulario">
                <label>Imagenes Principales</label>
                <input type="file" name="principal" accept=".jpg, .pdf .jepg" multiple class="control">
            </div>

            <div class="control-formulario">
                <label>Imagenes Adicionales</label>
                <input type="file" name="principal" accept=".jpg, .pdf .jepg" multiple class="control">
            </div>

            <div class="responsivebuttons">
                <div class="button1">
                    <button type="submit">Editar</button>
                </div>

                <div class="button1">
                    <button type="reset">Reset</button>
                </div>
            </div>

        </form>

    </main>

    <%- include("../partials/footer") %>
  
</body>
</html>v