:root {
  --negro: #42464a;
  --blanco: #ffffff;
  --azul: #92a0a3;
  --beige: #e2d0bd;
  --gris: #e7e7e7;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gris);
  margin: 0;
  max-width: none;
}

header {
  background-color: var(--beige);
  width: 100%;
}

.detalle_filtros {
  display: flex;
  flex-direction: column;
}

.detalle_filtros h3 {
  font-size: 20px;
  padding: 5px;
}

/*Main*/
main {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

.productos {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-top: 50px;
}

.productos img {
  width: 100%;
  border-radius: 10%;
}

.detalle {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-self: center;
  margin: 20px;
  transition: 0.5s;
  border: solid 1px var(--blanco);
  border-radius: 12px;
}

.titulo {
  font-size: 30px;
  font-weight: bold;
  color: var(--negro);
}
.precio {
  font-size: 20px;
  color: #92a0a3;
  padding-bottom: 15px;
}
.botones_productos {
  display: flex;
  justify-content: space-evenly;
}
.botones_productos button {
  width: 100px;
  height: 60px;
  margin: 5px;
  background-color: var(--beige);
  border-radius: 12px;
  font-weight: bolder;
  color: #42464a;
}

.botones_productos div a {
  color: inherit;
}

.filtros {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  width: 500px;
}

/*Media Queries*/

/*Telefono*/
@media (max-width: 480px) {
  .filtros {
    display: none;
  }
}

/*Tablet*/
@media (min-width: 451px) and (max-width: 750px) {
  .productos {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*Desktop*/
@media (min-width: 751px) {
  .productos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .detalle {
    width: 200px;
  }
  main {
    margin-left: 20%;
    margin-right: 20%;
  }

  .botones_productos div {
    font-size: 10px;
    display: unset;
    transition: 0.5s;
  }

  .detalle {
    box-shadow: none;
  }

  .detalle:hover .botones_productos div {
    display: block;
  }

  .detalle:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
}

/*-----------------ICONOS--------------------

Lupa
<i class="fa-solid fa-magnifying-glass"></i>

Menú hamburguesa
<i class="fa-solid fa-bars"></i>

Seguridad
<i class="fa-solid fa-user-shield"></i>

$
circulo <i class="fa-solid fa-circle-dollar"></i>
cuadrado <i class="fa-solid fa-square-dollar"></i>

Tarjeta de crédito
<i class="fa-solid fa-credit-card"></i>

Facebook
circulo <i class="fa-brands fa-facebook"></i>
cuadrado <i class="fa-brands fa-facebook-square"></i>

Instagram
<i class="fa-brands fa-instagram"></i>

Whatsapp
<i class="fa-brands fa-whatsapp"></i>

Carrito de compras
<i class="fa-solid fa-cart-shopping"></i>

Cesto de basura
<i class="fa-solid fa-trash-can"></i>

Más
<i class="fa-solid fa-plus"></i>
circulo <i class="fa-solid fa-circle-plus"></i>

Menos
<i class="fa-solid fa-minus"></i>
circulo <i class="fa-solid fa-circle-minus"></i>

Cruz
<i class="fa-solid fa-circle-xmark"></i>

Localización
<i class="fa-solid fa-location-dot"></i>

Envíos
camión <i class="fa-solid fa-truck"></i>
dolly <i class="fa-solid fa-dolly"></i>

Mi cuenta
<i class="fa-solid fa-user"></i>

Ayuda
<i class="fa-solid fa-comments"></i>

Email
<i class="fa-solid fa-envelope"></i>

Flechas chevron
izq <i class="fa-solid fa-circle-chevron-left"></i>
der <i class="fa-solid fa-circle-chevron-right"></i>
abajo (desplegar menú) <i class="fa-solid fa-chevron-down"></i>

Check
<i class="fa-solid fa-circle-check"></i>

Ojo
abierto <i class="fa-solid fa-eye"></i>
cerrado <i class="fa-solid fa-eye-slash"></i>

Corazón
relleno <i class="fa-solid fa-heart"></i>
contorno <i class="fa-regular fa-heart"></i>

Tienda
<i class="fa-regular fa-shop"></i>
<i class="fa-solid fa-store"></i>

Info
<i class="fa-solid fa-circle-info"></i>

Gift
<i class="fa-solid fa-gift"></i>
*/
