root {
  --negro: #42464a;
  --blanco: #ffffff;
  --azul: #92a0a3;
  --beige: #e2d0bd;
  --gris: #e7e7e7;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gris);
  margin: 0;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  border-bottom: solid 1px gray;
}

.logo img {
  width: 100px;
}

.elementos_header {
  display: flex;
  justify-content: center;
}
.elementos_header a {
  font-size: 20px;
  padding: 10px;
  align-self: center;
  color: var(--negro);
}

/*Main*/
main {
  display: flex;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.productos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  background-color: white;
}

.productos img {
  width: 100px;
}

/*-----------------ICONOS--------------------

Lupa
<i class="fa-solid fa-magnifying-glass"></i>

Menú hamburguesa
<i class="fa-solid fa-bars"></i>

Seguridad
<i class="fa-solid fa-user-shield"></i>

$
circulo <i class="fa-solid fa-circle-dollar"></i>
cuadrado <i class="fa-solid fa-square-dollar"></i>

Tarjeta de crédito
<i class="fa-solid fa-credit-card"></i>

Facebook
circulo <i class="fa-brands fa-facebook"></i>
cuadrado <i class="fa-brands fa-facebook-square"></i>

Instagram
<i class="fa-brands fa-instagram"></i>

Whatsapp
<i class="fa-brands fa-whatsapp"></i>

Carrito de compras
<i class="fa-solid fa-cart-shopping"></i>

Cesto de basura
<i class="fa-solid fa-trash-can"></i>

Más
<i class="fa-solid fa-plus"></i>
circulo <i class="fa-solid fa-circle-plus"></i>

Menos
<i class="fa-solid fa-minus"></i>
circulo <i class="fa-solid fa-circle-minus"></i>

Cruz
<i class="fa-solid fa-circle-xmark"></i>

Localización
<i class="fa-solid fa-location-dot"></i>

Envíos
camión <i class="fa-solid fa-truck"></i>
dolly <i class="fa-solid fa-dolly"></i>

Mi cuenta
<i class="fa-solid fa-user"></i>

Ayuda
<i class="fa-solid fa-comments"></i>

Email
<i class="fa-solid fa-envelope"></i>

Flechas chevron
izq <i class="fa-solid fa-circle-chevron-left"></i>
der <i class="fa-solid fa-circle-chevron-right"></i>
abajo (desplegar menú) <i class="fa-solid fa-chevron-down"></i>

Check
<i class="fa-solid fa-circle-check"></i>

Ojo
abierto <i class="fa-solid fa-eye"></i>
cerrado <i class="fa-solid fa-eye-slash"></i>

Corazón
relleno <i class="fa-solid fa-heart"></i>
contorno <i class="fa-regular fa-heart"></i>

Tienda
<i class="fa-regular fa-shop"></i>
<i class="fa-solid fa-store"></i>

Info
<i class="fa-solid fa-circle-info"></i>

Gift
<i class="fa-solid fa-gift"></i>
*/
