:root {
  --negro: #42464a;
  --negro-hoover: #676d73;
  --blanco: #ffffff;
  --azul: #92a0a3;
  --beige: #e2d0bd;
  --beige-hoover: #e7d9ca;
  --gris: #e7e7e7;
  --warning: #d29b9a;
  --shadow: #adb2b6;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gris);
  margin: 0;
  /*position: absolute;*/
}
/*
 header {
  background-color: var(--beige);
  width: 100%;
  padding: 10px;
}

.fa-instagram {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: block;
}

.fa-facebook-square {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: block;
}*/

.fa-bars {
  padding: 10px;
  width: 70px;
  height: 70px;
  margin: 5px;
  display: block;
  font-size: 2em;
}

.menu {
  display: flex;
  flex-direction: nowrap;
  justify-content: space-between;
  align-self: center;
}

/*.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}*/

.descuento {
  display: flex;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  color: #42464a;
  margin-top: 0;
  padding: 5px;
  background-color: var(--azul);
}

.cuenta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

.miCuenta {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.carrito {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
/*
.fa-user {
  height: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}

.fa-cart-shopping {
   margin: 5px;
  padding:5px;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}*/

.logo {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  /*padding: 20px;*/
}

.search-bar button {
  border-style: none;
  line-height: 30px;
  background-color: white;
  color: var(--gris);
  width: 30%;
  text-align: center;
  border-radius: 0 5px 5px 0;
}

.search-bar {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  color: var(--gris);
  padding: 3px;
}

.search-bar-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  border-style: none;
  line-height: 35px;
  background-color: white;
  outline: none;
  color: var(--gris);
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.cuenta li a {
  color: black;
  padding-top: 5px;
  display: block;
  font-size: 18px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*padding: 10px;*/
}

.usuario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 20px;
  margin: 20px;
  /*margin-top: 20px;*/
}

.usuario li a {
  color: black;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
  font-size: 16px;
  font-size: 20px;
  color: var(--negro) bolder;
}

.flecha1 {
  display: flex;
  flex-direction: row;
}

.flecha2 {
  display: flex;
  flex-direction: row;
}

.flecha3 {
  display: flex;
  flex-direction: row;
}

main .carrusel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 10px;
  width: 100%;
}

.fa-circle-chevron-left {
  display: flex;
  width: 3%;
  height: 3%;
  padding: 5px;
  margin: 5px;
}

.fa-circle-chevron-right {
  display: flex;
  width: 3%;
  height: 3%;
  padding: 5px;
  margin: 5px;
}

.carrusel4 {
  display: flex;
  width: 80%;
  height: 80%;
  margin: auto;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 10px 5px 5px var(--azul);
}

.pieCarrusel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.fa-dolly {
  width: 40px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
}

.fa-percent {
  width: 40px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
}

.fa-user-shield {
  width: 40px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
}

.pieCarrusel p {
  font-size: 18px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

/*
p {
  font-size: 16px;
  text-align: justify;
  padding: 5px;
  margin-top: 5px;
  color: var(--negro);
}*/

.seccion {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.agenda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.producto1 {
  display: flex;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--negro);
}

.producto2 {
  display: flex;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--negro);
}

.producto3 {
  display: flex;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--negro);
}

.producto5 {
  display: flex;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--negro);
}

.color {
  display: flex;
  width: 90%;
  border-radius: 15px;
  flex-direction: column;
  padding: 5px;
  box-shadow: 10px 5px 5px var(--negro);
  background-color: var(--beige);
}

h4 {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  color: var(--negro) bolder;
}
/*
footer .categorias {
  display: flex;
  flex-direction: column;
}*/

.categorias li a {
  color: black;
  display: flex;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
}

.columna {
  flex-direction: column;
  padding: 5px;
}

.ayuda {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
}

.fa-comments {
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: justify;
}

.enLinea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  padding: 5px;
}

/*.contacto{
  padding: 5px;
}*/

.comunicacion {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: space-between;

  text-align: justify;
}
.fa-phone {
  padding: 5px;
  text-align: left;
}

/*
.fa-envelope {
  padding: 10px;
  text-align: left;
}*/

.sociales {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.social {
  padding: 5px;
}
/*
.fa-instagram {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: flex;
}

.fa-facebook-square {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: flex;
}*/

.medios {
  padding: 5px;
}

.fa-cc-visa {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: flex;
}

.fa-cc-mastercard {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: flex;
}

.fa-money-bill-1 {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: flex;
}

.pago {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.wh {
  position: fixed;
  right: 50px;
  bottom: 50px;
  color: green;
}

/*
.fa-whatsapp {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: flex;
}*/

.fondo {
  background-color: var(--azul);
  width: 100%;
}

@media (min-width: 480px) {
  .menu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .red {
    display: none;
  }

  .redes {
    display: none;
  }

  .miCuenta {
    display: none;
  }

  .fa-bars {
    padding: 10px;
    width: 20px;
    height: 20px;
    margin: 5px;
    display: block;
    font-size: 1.5em;
  }

  .buscar {
    display: none;
  }

  .usuario {
    display: none;
  }

  .carrusel {
    width: 50%;
    display: flex;
    padding: 5px;
  }
  .carrusel4 {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 5px;
  }

  .datos {
    display: none;
  }

  .fa-user-shield {
    display: none;
  }

  .seccion {
    display: block;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: baseline;
    align-items: baseline;
  }

  .agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
  }

  .enLinea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: stretch;
    padding: 5px;
  }

  .box {
    display: block;
    flex-direction: column;
  }
}

@media (min-width: 1280px) {
  .red {
    display: flex;
  }
  .redes {
    display: flex;
  }

  .buscar {
    display: flex;
  }

  .miCuenta {
    display: flex;
  }
  .menu {
    display: none;
  }

  .usuario {
    display: flex;
  }

  .usuario li a {
    display: flex;
  }

  .flecha1 {
    display: flex;
  }

  .flecha2 {
    display: flex;
  }

  .flecha3 {
    display: flex;
  }
  .datos {
    display: flex;
    position: relative;
    bottom: 20px;
  }

  .fa-user-shield {
    width: 40px;
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
    display: flex;
    position: relative;
    right: 50px;
    top: 30px;
  }

  .pieCarrusel p {
    font-size: 18px;
    text-align: justify;
    margin: 5px;
    padding: 5px;
  }

  .seccion {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
  }

  .enLinea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding: 5px;
  }
}

/*-----------------ICONOS--------------------

Lupa
<i class="fa-solid fa-magnifying-glass"></i>

Menú hamburguesa
<i class="fa-solid fa-bars"></i>

Seguridad
<i class="fa-solid fa-user-shield"></i>

$
circulo <i class="fa-solid fa-circle-dollar"></i>
cuadrado <i class="fa-solid fa-square-dollar"></i>

Tarjeta de crédito
<i class="fa-solid fa-credit-card"></i>

Transferencia bancaria
}<i class="fa-solid fa-money-bill-transfer"></i>

Facebook
circulo <i class="fa-brands fa-facebook"></i>
cuadrado <i class="fa-brands fa-facebook-square"></i>

Instagram
<i class="fa-brands fa-instagram"></i>

Whatsapp
<i class="fa-brands fa-whatsapp"></i>

Carrito de compras
<i class="fa-solid fa-cart-shopping"></i>

Cesto de basura
<i class="fa-solid fa-trash-can"></i>

Más
<i class="fa-solid fa-plus"></i>
circulo <i class="fa-solid fa-circle-plus"></i>

Menos
<i class="fa-solid fa-minus"></i>
circulo <i class="fa-solid fa-circle-minus"></i>

Cruz
<i class="fa-solid fa-circle-xmark"></i>

Localización
<i class="fa-solid fa-location-dot"></i>

Envíos
camión <i class="fa-solid fa-truck"></i>
dolly <i class="fa-solid fa-dolly"></i>

Mi cuenta
<i class="fa-solid fa-user"></i>

Ayuda
<i class="fa-solid fa-comments"></i>

Email
<i class="fa-solid fa-envelope"></i>

Flechas chevron
izq <i class="fa-solid fa-circle-chevron-left"></i>
der <i class="fa-solid fa-circle-chevron-right"></i>
abajo (desplegar menú) <i class="fa-solid fa-chevron-down"></i>

Check
<i class="fa-solid fa-circle-check"></i>

Ojo
abierto <i class="fa-solid fa-eye"></i>
cerrado <i class="fa-solid fa-eye-slash"></i>

Corazón
relleno <i class="fa-solid fa-heart"></i>
contorno <i class="fa-regular fa-heart"></i>

Tienda
<i class="fa-regular fa-shop"></i>
<i class="fa-solid fa-store"></i>

Info
<i class="fa-solid fa-circle-info"></i>

Gift
<i class="fa-solid fa-gift"></i>
*/
