:root {
  --negro: #42464a;
  --negro-hover: #676d73;
  --blanco: #ffffff;
  --azul: #92a0a3;
  --azul-hover: #667072;
  --beige: #e2d0bd;
  --beige-hover: #e7d9ca;
  --gris: #e7e7e7;
  --warning: #d29b9a;
  --shadow: #adb2b6;
  --whatsapp: #00bb2d;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gris);
  color: var(--negro);
  margin: 0;
  font-size:12px;
  position: relative;
}

header {
  background-color: transparent;
  background-image: url("/image/background-header.png");
}

.text-promotion {
  background-color: var(--azul);
  text-align: center;
  padding: 3px;
  font-size: 12px;
  color: var(--blanco);
}

#modal{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: -200vw;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  transition: all 0.5s;
}
#modal .modal-container{
  width: 80%;
  background-color: var(--beige);
}
#modal input{
  display: none;
}
#modal .modal-header {
  background-color: #d2b79a;
  width: 100%;
  display: flex;
  position: relative;
}
#modal .modal-header label{
  position: absolute;
  right: 10px;
}
#modal .modal-header a{
  align-items: center;
  margin: 0;
  align-items: center;
}
#modal .modal-header i {
  margin-left: 10px;
  font-size: 14px;
  color: var(--azul);
}
#modal .modal-footer{
  background-color: #d2b79a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  box-shadow: 0px -1px 4px 0px var(--shadow);
}
.modal-footer a {
  color: var(--negro)
}
#product:target{
  display: block;
}
.acordeon {
  margin-bottom: 30vh;
}
.acordeon a {
  text-decoration: none;
  display: block;
  line-height: 25px;
  padding-left: 10px;
  color: var(--negro);
  border-top: solid 1px var(--beige-hover);
}
.acordeon ul{
  display: none;
  background-color: #cbbbaa;
}
.acordeon ul li{
  margin-left: 0px;
}
#modal-open{
  display: none;
}
#modal-open:checked ~ #modal {
  left: 0;
}

.main-header {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row i {
  color: var(--azul);
  transition: all 0.5s;
}
.row i:hover{
  color: var(--azul-hover);
}

.login {
  display: none;
}

.redes {
  display: none;
}

.burguer-menu, .login-cart {
  width: 20%;
  display: flex;
  justify-content: center;
}
.burguer-menu i, .cart, .login, .instagram, .facebook {
  text-align: center;
  font-size: 24px;
}
.cart p, .login p{
  font-size: 14px;
  display: none;
}

.principal-logo {
  display: flex;
}

.principal-logo a {
  text-align: center;
  width: 100%;
}
.logo{
  width: 80%;
  max-width: 250px;
  padding: 15px;
}

.navbar{
  width: 100%;
  padding: 10px 0;
  margin: auto;
  display: none;
  border-top: solid 1px var(--beige-hover);
}
#navbar-dropdown {
  padding: 10px 0;
  margin: auto;
  display: none;
  font-size: 14px;
  transition: all 0.5s;
}
#navbar-dropdown:target{
  display: block;
}

.navbar ul, #navbar-dropdown ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.navbar ul{
  padding: 0 25%;
}
.navbar li{
  width: 33%;
  text-align: center;
  justify-content: center;
}
.navbar li a {
  font-size: 18px;
  color: var(--negro);
}
/*---------->> FIN HEADER <<----------*/

/*---------->> INICIO FOOTER <<----------*/
footer {
  background-color: transparent;
  background-image: url("/image/background-footer_3.png");
}

footer a {
  font-size: 16px;
  line-height: 25px;
  color: var(--negro);
}

footer h2 {
  padding: 15px 0;
}

.main-footer {
  border-bottom: solid 1px var(--azul);
}

.main-footer, .payment {
  padding: 0 20px 20px 20px;
}

.payment img {
  width: 50px;
}


main .carrusel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 10px;
  width: 100%;
}

.fa-circle-chevron-left {
  display: flex;
  width: 3%;
  height: 3%;
  padding: 5px;
  margin: 5px;
}

.fa-circle-chevron-right {
  display: flex;
  width: 3%;
  height: 3%;
  padding: 5px;
  margin: 5px;
}

.carrusel4 {
  display: flex;
  width: 80%;
  height: 80%;
  margin: auto;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 10px 5px 5px var(--azul);
}

.pieCarrusel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.fa-dolly {
  width: 40px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
}

.fa-percent {
  width: 40px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
}

.fa-user-shield {
  width: 40px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
}

.pieCarrusel p {
  font-size: 18px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

p {
  font-size: 16px;
  text-align: justify;
  padding: 5px;
  margin-top: 5px;
  color: var(--negro);
}

.seccion {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.agenda {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.producto1 {
  display: flex;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--negro);
}

.producto2 {
  display: flex;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--negro);
}

.producto3 {
  display: flex;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--negro);
}

.producto5 {
  display: flex;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px var(--negro);
}

.color {
  display: flex;
  width: 90%;
  border-radius: 15px;
  flex-direction: column;
  padding: 5px;
  box-shadow: 10px 5px 5px var(--negro);
  background-color: var(--beige);
}

h4 {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  color: var(--negro) bolder;
}

footer {
  background-color: transparent;
  background-image: url("/image/background-footer_3.png");
}

footer a {
  font-size: 16px;
  line-height: 25px;
  color: var(--negro);
}

footer h2 {
  padding: 15px 0;
}

.main-footer {
  border-bottom: solid 1px var(--azul);
}

.main-footer, .payment {
  padding: 0 20px 20px 20px; 
}

.payment img {
  width: 50px;
}

contact
.contact{
  display: flex;
  font-size:18px;
  margin-top: 0;
  text-align:center;
  padding:12px;
}

.icono{
  color:var(--negro);
  font-size:14px;
  }

  .icono li a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--negro);
}



  .ci{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-self: flex-start;
    text-align: center;
    color: var(--warning);
    font-size: 18px;
    padding: 12px;
    margin:12px;
  }

  .box{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-content: space-around;
    align-items: space-around;
    padding: 5px;
    border-top: 5px;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
  }

  .formulario{
    display:flex;
    font-size: 16px;
    color: var(--negro);
    padding:12px;
    margin: 5px;
    width:100%;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  .formulario label{
    margin-bottom: 5px;
    padding:5px;
    font-size:16px;
    width:100%;
    font-weight: bold;
    text-align:left;
  }

  .formulario input{
    color: var(--negro);
    border-radius: 5px;
    font-size:16px;
    width:100%;
    background-color: var(--gris);
  }

  .formulario textarea{
    color: var(--negro);
    border-radius: 5px;
    font-size:16px;
    width:100%;
    background-color: var(--gris);
  }

  .boton{
    display:flex;
    justify-content: center;
    margin:5px;
    margin-bottom: 10px;
    border-radius: 5px;
    width:97%;
    font-size:18px;
    color: var(--negro);
    background-color: var(--beige);
  }



@media (min-width: 480px) {
  .menu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .red {
    display: none;
  }

  .redes {
    display: none;
  }

  .miCuenta {
    display: none;
  }

  .fa-bars {
    padding: 10px;
    width: 20px;
    height: 20px;
    margin: 5px;
    display: block;
    font-size: 1.5em;
  }

  .buscar {
    display: none;
  }

  .usuario {
    display: none;
  }

  .carrusel {
    width: 50%;
    display: flex;
    padding: 5px;
  }
  .carrusel4 {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 5px;
  }

  .datos {
    display: none;
  }

  .fa-user-shield {
    display: none;
  }

  .seccion {
    display: block;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: baseline;
    align-items: baseline;
  }

  .agenda {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
  }

  .enLinea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: stretch;
    padding: 5px;
  }

  .box{
    display:block;
    flex-direction:column;
  }

  contact
  .icono li a{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: auto;
  }
}




@media (min-width: 1280px) {
  .red {
    display: flex;
  }
  .redes {
    display: flex;
  }

  .buscar {
    display: flex;
  }

  .miCuenta {
    display: none;
  }
  .burguer-menu {
    display: none;
  }

  .usuario {
    display: flex;
  }

  .usuario li a {
    display: flex;
  }

  .flecha1 {
    display: flex;
  }

  .flecha2 {
    display: flex;
  }

  .flecha3 {
    display: flex;
  }
  .datos {
    display: flex;
    position: relative;
    bottom: 20px;
  }

  .fa-user-shield {
    width: 40px;
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
    display: flex;
    position: relative;
    right: 50px;
    top: 30px;
  }

  .pieCarrusel p {
    font-size: 18px;
    text-align: justify;
    margin: 5px;
    padding: 5px;
  }

  .seccion {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
  }

  .enLinea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding: 5px;
  }

  contact

  .burguer-menu{
    display: none;
  }
}



/*-----------------ICONOS--------------------

Lupa
<i class="fa-solid fa-magnifying-glass"></i>

Menú hamburguesa
<i class="fa-solid fa-bars"></i>

Seguridad
<i class="fa-solid fa-user-shield"></i>

$
circulo <i class="fa-solid fa-circle-dollar"></i>
cuadrado <i class="fa-solid fa-square-dollar"></i>

Tarjeta de crédito
<i class="fa-solid fa-credit-card"></i>

Transferencia bancaria
}<i class="fa-solid fa-money-bill-transfer"></i>

Facebook
circulo <i class="fa-brands fa-facebook"></i>
cuadrado <i class="fa-brands fa-facebook-square"></i>

Instagram
<i class="fa-brands fa-instagram"></i>

Whatsapp
<i class="fa-brands fa-whatsapp"></i>

Carrito de compras
<i class="fa-solid fa-cart-shopping"></i>

Cesto de basura
<i class="fa-solid fa-trash-can"></i>

Más
<i class="fa-solid fa-plus"></i>
circulo <i class="fa-solid fa-circle-plus"></i>

Menos
<i class="fa-solid fa-minus"></i>
circulo <i class="fa-solid fa-circle-minus"></i>

Cruz
<i class="fa-solid fa-circle-xmark"></i>

Localización
<i class="fa-solid fa-location-dot"></i>

Envíos
camión <i class="fa-solid fa-truck"></i>
dolly <i class="fa-solid fa-dolly"></i>

Mi cuenta
<i class="fa-solid fa-user"></i>

Ayuda
<i class="fa-solid fa-comments"></i>

Email
<i class="fa-solid fa-envelope"></i>

Flechas chevron
izq <i class="fa-solid fa-circle-chevron-left"></i>
der <i class="fa-solid fa-circle-chevron-right"></i>
abajo (desplegar menú) <i class="fa-solid fa-chevron-down"></i>

Check
<i class="fa-solid fa-circle-check"></i>

Ojo
abierto <i class="fa-solid fa-eye"></i>
cerrado <i class="fa-solid fa-eye-slash"></i>

Corazón
relleno <i class="fa-solid fa-heart"></i>
contorno <i class="fa-regular fa-heart"></i>

Tienda
<i class="fa-regular fa-shop"></i>
<i class="fa-solid fa-store"></i>

Info
<i class="fa-solid fa-circle-info"></i>

Gift
<i class="fa-solid fa-gift"></i>
*/
