:root {
  --negro: #42464a;
  --negro-hover: #676d73;
  --blanco: #ffffff;
  --azul: #92a0a3;
  --azul-hover: #667072;
  --beige: #e2d0bd;
  --beige-hover: #e7d9ca;
  --gris: #e7e7e7;
  --warning: #d29b9a;
  --shadow: #adb2b6;
  --whatsapp: #00bb2d;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gris);
  color: var(--negro);
  margin: 0;
  font-size: 14px;
}

main {
  padding: 10px 0 40px 0;
}

main a {
  text-decoration: none;
  font-weight: bolder;
  color: var(--beige);
  transition: all 0.5s;
}

main a:hover{
  color: var(--beige-hover);
}

.path {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
  color: var(--negro);
}

.path p {
  padding: 0 5px 0 0;
}

.creating-account {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  padding: 15px 0;
  color: var(--beige);
}

.form1 {
  width: 60%;
  margin: auto;
  padding: 20px 0 5px 0;
}

div.input-group {
  position: relative;
  margin-top: 20px;
}

input.input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font: inherit;
  color: var(--negro);
  background-color: transparent;
  outline: 1.5px solid var(--negro);
}

label.input-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform .2s;  
}

input.input:focus+label.input-label,
input.input:valid+label.input-label {
  transform: translate(10px, -8px) scale(.8);
  color: var(--negro-hover);
  padding-inline: 5px;
  background-color: var(--blanco);
}

input.input:is(:focus, :valid) {
  outline-color: var(--negro-hover);
}

.error{
  color: red;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 2%;
  }


.socialnetwork {
  text-align: center;
  margin: auto;
  width: 60%;
}

.socialnetwork button {
  width: 100%;
  padding: 10px 0;
  background-color: #3b5998;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.socialnetwork button:hover{
  background-color: #627aac;
}


.captcha {
  text-align: right;
  padding: 10px;
}

.button1 {
  text-align: center;
  margin: auto;
}

.button1 button {
  width: 100%;
  border: none;
  background-color: var(--beige);
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bolder;
  color: var(--negro);
  cursor: pointer;
  transition: all 0.5s;
}

.button1 button:hover{
  background-color: var(--beige-hover);
}

.text-benefit {
  text-align: center;
  padding-top:10px;
  padding-bottom: 40px;
}

.tenescuenta {
  text-align: center;
  padding-bottom: 15px;
  /*text-align: center;
  padding-bottom: 30px;
  padding-top: 5px;*/
}

.tenescuenta a {
  font-weight: bold;
}

.avatar {
  width: 100%;
  border-radius: 10%;
}

.confirmation {
  background-color: var(--gris);
  margin: auto;
  text-align: center;
  font-size: 20px;
  max-width: 1200px;
}

.confirmation p {
  padding: 10px 0px;
}

.confirmation p i {
  font-size: 40px;
}

.confirmationp1 {
  font-size: 22px;
  font-weight: bold;
}

.resending {
  text-align: center;
  padding-bottom: 30px;
}

.resending a {
  font-weight: bold;
}
/*
@media (min-width: 1280px) {
  .responsivebuttons {
    display: flex;
  }
}*/