:root {
    --negro: #42464a;
    --blanco: #ffffff;
    --azul: #92a0a3;
    --beige: #e2d0bd;
    --gris: #e7e7e7;
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
    background-color:var(--gris);
    margin: 0;
  }

  header
  {background-color:var(--beige);}

    
.fa-instagram {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: block;
}

.facebook-square {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: block;
}

.fa-bars {
  padding: 10px;
  width: 70px;
  height: 70px;
  margin: 5px;
  display: block;
  font-size: 2em;
}

.menu {
  display: flex;
  flex-direction: nowrap;
  justify-content: space-between;
  align-self: center;
}

.redes {
  display: flex;
  flex-direction: nowrap;
  justify-content: space-between;
  align-self: center;
}

.descuento {
  display: flex;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  color: #42464a;
  margin-top: 0;
  padding: 5px;
  background-color: var(--azul);
}

.cuenta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

.miCuenta {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.carrito {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.fa-user {
  height: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}

.fa-cart-shopping {
  /* margin: 5px;
  padding:5px;*/
  /*width: 1em;*/
  height: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  width: 300px;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 20px;
}

.search-bar button {
  border-style: none;
  line-height: 40px;
  background-color: white;
  color: var(--gris);
  width: 30%;
  text-align: center;
  border-radius: 0 5px 5px 0;
}

.search-bar {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  color: var(--gris);
  padding: 3px;
}

.search-bar-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  border-style: none;
  line-height: 40px;
  background-color: white;
  outline: none;
  color: var(--gris);
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.cuenta li a {
  color: black;
  padding-top: 5px;
  display: block;
  font-size: 18px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.usuario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 20px;
  margin: 20px;
  margin-top: 20px;
}

.usuario li a {
  color: black;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
  font-size: 16px;
  font-size: 20px;
  color: var(--negro) bolder;
}

.flecha1 {
  display: flex;
  flex-direction: row;
}

.flecha2 {
  display: flex;
  flex-direction: row;
}

.flecha3 {
  display: flex;
  flex-direction: row;
}
main{}
    
.path{display:flex;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
    color: var(--negro);
}

.path p {padding:0 5px 0 0;}

.creating-account{font-size: 25px;
  font-weight: bold;
    text-align: center;
    padding-top:30px;
}
  .form1{ margin-top: 30px;
    margin-bottom: 5px;
    width: 100%;}

  .control-formulario {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;}


.control{width: 100%;
padding: 8px 8px;
border-radius: 5px;}

.control-formulario label{margin-bottom: 5px;
  margin-left: 15px;
font-weight: bold;
display:block}

.socialnetwork{text-align: center;
  margin:auto;
padding-top: 20px;}

.socialnetwork button{padding: 10px 60px;
  background: #3B5998;
  color: white;
  font-weight: bold;
border-radius: 10px;}

.captcha{text-align: right;
padding: 10px;}

.button1{padding-top: 10px;
text-align:center;
margin: auto;}

.button1 button{background-color:var(--negro);
    padding: 10px 120px;
border-radius: 10px;
font-weight: bolder;
color: var(--blanco);
}
.tenescuenta{text-align: center;
padding: 5px;}

.tenescuenta a{font-weight: bold;}

footer{ margin-top: 50px;}


  footer .categorias {
    display: flex;
    flex-direction: column;
  }
  
  .categorias li a {
    color: black;
    display: flex;
    margin-left: 5px;
    font-size: 18px;
    text-align: center;
  }
  
  .columna {
    flex-direction: column;
    padding: 5px;
    margin-top: 20px;
    padding: 5px;
  }
  
  .ayuda {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
  }
  
  .fa-comments {
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: justify;
  }
  
  .enLinea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  /*.contacto{
    padding: 5px;
  }*/
  
  .comunicacion {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: space-between;
    padding: 5px;
    text-align: justify;
  }
  .fa-phone {
    padding: 5px;
    text-align: left;
  }
  
  .fa-envelope {
    padding: 10px;
    text-align: left;
  }
  
  .sociales {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  
  .social {
    padding: 5px;
  }
  
  .fa-instagram {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    display: flex;
  }
  
  .facebook-square {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    display: flex;
  }
  
  .medios {
    padding: 5px;
  }
  
  .fa-cc-visa {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    display: flex;
  }
  
  .fa-cc-mastercard {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    display: flex;
  }
  
  .fa-money-bill-1 {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    display: flex;
  }
  
  .pago {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
  .wh {
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: green;
  }
  
  .fa-whatsapp {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    display: flex;
  }
  
  .fondo {
    background-color: var(--azul);
  }