:root {
  --negro: #42464a;
  --blanco: #ffffff;
  --azul: #92a0a3;
  --beige: #e2d0bd;
  --gris: #e7e7e7;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gris);
  margin: 0;
}

main{}

.path {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 20px;
  color: var(--negro);
}

.path p {
  padding: 0 5px 0 0;
}

.creating-account {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.text-benefit {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.confirmation {
  background-color: var(--gris);
  margin: auto;
  text-align: center;
  font-size: 20px;
  max-width: 1200px;
}

.confirmation p {
  padding: 10px 0px;
}

.confirmation p i {
  font-size: 40px;
}

.confirmationp1 {
  font-size: 22px;
  font-weight: bold;
}

.resending {
  text-align: center;
  padding-bottom: 30px;
}

.resending a {
  font-weight: bold;
}
