:root {
    --negro: #42464a;
    --negro-hover: #676d73;
    --blanco: #ffffff;
    --azul: #92a0a3;
    --beige: #e2d0bd;
    --beige-hover: #e7d9ca;
    --gris: #e7e7e7;
    --warning: #d29b9a;
    --shadow: #adb2b6;
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
    color: var(--negro);
    background-color: var(--gris);
    margin: 0;
    max-width: 768px;
    font-size: 15px;
  }

  img {
      width: 100%;
      border-radius: 10px;
  }

  button {
      background: none;
      border-style: none;
      margin: 0;
      cursor: pointer;
  }

  a {
    text-decoration: none;
    color: var(--negro);
  }

  .container{
      width: 90%;
      margin: auto;
  }

  .main-header{
      display: flex;
      width: 100%;
      background-color: var(--beige);
      padding: 10px 20px;
      justify-content: space-between;
      align-items: center;
  }

.main-header button{
    font-size: 22px;
    transition: all 0.5s;
    color: var(--negro);
}
.main-header button:hover{
    color: var(--negro-hover);
}

.empty {
    display: block;
    width: 100%;
    margin: 15px auto;
    text-align: center;
    border: solid 1px var(--azul);
    border-radius: 8px;
    color: var(--azul);
    padding: 5px;
}

.products-cart{
    display: flex;
    flex-wrap: wrap;

    margin: auto;
}

.container-product{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
    position: relative;
}

.name-product {
    width: 70%;
    position: relative;
    justify-content: right;
}
.name-product a{
    color: var(--negro);
    transition: all 0.5s;
}
.name-product a:hover{
    color: var(--negro-hover);
}

.img-product {
    width: 25%;
    margin: 0;
    padding: 0;
}

.amount {
    display: flex;
    border: solid 1px var(--negro);
    border-radius: 8px;
    padding: 5px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 4.5px;
    left: 0;
    font-weight: 800;
    transition: all 0.5s;
}
.amount:hover{
    border: solid 1px var(--beige);
}

.amount i {
    color: var(--beige);
}

.delete i {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    color: var(--beige);
    transition: all 0.5s;
}
.delete i:hover{
    color: var(--beige-hover);
}

.price-per-unit p{
   position: absolute;
    bottom: 0;
    right: 0;
}

.subtotal{
    display: flex;

    margin: auto;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 0;
    justify-content: space-between;
    border-bottom: solid 1px var(--negro);
}

.shipp-header {
    text-align: center;
    padding: 15px 0;
    font-weight: 600;
    font-size: 14px;
}
.shipp-header strong{
    color: var(--beige);
}

.cp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cp button {
    border-radius: 50px;
    padding: 5px;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    background-color: var(--beige);
    transition: all 0.5s;
}
.cp button:hover{
    background-color: var(--beige-hover);
}

.cp p span {
    font-weight: 800;
}

.cp-button {
    width: 100%;
    display: flex;
    margin: 15px 0 5px 0;
}

.cp-button input, .cp-button button {
    padding: 5px;
    border-style: none;
    width: 50%;
}

.cp-button input {
    border-radius: 8px 0 0 8px;
    padding-left: 5px;
    border: solid 1px transparent;
    transition: all 0.5s;
}
.cp-button input:hover{
    border: solid 1px var(--beige);
}

.cp-button button {
    border-radius: 0 8px 8px 0;

    background-color: var(--beige);
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.5s;
}
.cp-button button:hover{
    background-color: var(--beige-hover);
}

.cp-button div a {
    display: block;
}

.unknow {
    margin-bottom: 15px;

}
.unknow a {
    color: var(--beige);
    transition: all 0.5s;
}
.unknow a:hover{
    color: var(--negro);
}


.unknow-message {
    display: block;
    width: 100%;
    margin: 15px auto;
    text-align: center;
    border: solid 1px var(--warning);
    border-radius: 8px;
    color: var(--warning);
    padding: 5px;
}

.options-shipp-container i {
    color: var(--beige);
}

.option-shipp label{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--blanco);
    box-shadow: 0px 0px 5px var(--shadow);
    margin: 5px 0 15px 0;
    border-radius: 8px;
    transition: all 0.5s infinity;
    border: solid 2px transparent;
}
/*.option-shipp label:active {
    border: solid 2px var(--beige);
}*/

.option-shipp label input[type="radio"]:checked{
    border: solid 2px var(--beige);
}

.radio-container, .description-container, .price-continer {
    border-style: none;
    margin: 0;
    cursor: pointer;
}

.radio-container div, .description-container, .price-continer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.radio-container {
    width: 15%;
}

.description-container {
    width: 55%;
    flex-wrap: wrap;
}
.description-container p{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 15px;
}
.description-container span{
    width: 100%;
    padding-left: 15px;
    font-size: 11px;
}

.price-continer {
    width: 30%;
}

.price-continer span{
    font-weight: 800;
    color: var(--beige);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    color: var(--beige);
    padding: 15px 0;
    font-weight: 800;
}

.finish-order {
    text-align: center;
    width: 100%;
}

.finish-order button {
    padding: 10px;
    border-style: none;
    border-radius: 50px;
    background-color: var(--beige);
    font-weight: 800;
    margin: 10px 0;
    width: 100%;
    transition: all 0.5s;
}
.finish-order button:hover{
    background-color: var(--beige-hover);
}

.finish-order a {
    color: var(--negro);
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    padding-bottom: 15px;
    transition: all 0.5s;
}
.finish-order a:hover{
    color: var(--beige);
}