:root {
  --negro: #42464a;
  --negro-hover: #676d73;
  --blanco: #ffffff;
  --azul: #92a0a3;
  --azul-hover: #667072;
  --beige: #e2d0bd;
  --beige-hover: #e7d9ca;
  --gris: #e7e7e7;
  --warning: #d29b9a;
  --shadow: #adb2b6;
  --whatsapp: #00bb2d;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gris);
  color: var(--negro);
  margin: 0;
  font-size: 14px;
}

main {
  padding: 10px 0 40px 0;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: var(--beige);
  transition: all 0.5s;
}

a:hover{
  color: var(--beige-hover);
}

.path {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
  color: var(--negro);
}

.path p {
  padding: 0 5px 0 0;
}

.creating-account {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  padding: 15px 0;
  color: var(--beige);
}
.form1 {
  width: 60%;
  margin: auto;
  padding: 20px 0 5px 0;
}

.control-formulario {
  margin-bottom: 15px;
}

.control {
  width: 100%;
  padding: 10px 0;
  border: 1px solid var(--negro);
  border-radius: 5px;
}

.control-formulario label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.control-formulario input {
  padding-left: 10px;
  margin-bottom: 5px;
}

.socialnetwork {
  text-align: center;
  margin: auto;
  width: 60%;
}

.socialnetwork button {
  width: 100%;
  padding: 10px 0;
  background-color: #3b5998;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.socialnetwork button:hover{
  background-color: #627aac;
}


.captcha {
  text-align: right;
  padding: 10px;
}

.button1 {
  text-align: center;
  margin: auto;

}

.button1 button {
  width: 100%;
  border: none;
  background-color: var(--beige);
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bolder;
  color: var(--negro);
  cursor: pointer;
  transition: all 0.5s;
}

.button1 button:hover{
  background-color: var(--beige-hover);
}

.tenescuenta {
  text-align: center;
  padding-bottom: 15px;
}

.tenescuenta a {
  font-weight: bold;
}