:root {
  --negro: #42464a;
  --blanco: #ffffff;
  --azul: #92a0a3;
  --beige: #e2d0bd;
  --gris: #e7e7e7;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gris);
  margin: 0;
}




.path {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 20px;
  color: var(--negro);
}

.path p {
  padding: 0 5px 0 0;
}

.creating-account {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.text-benefit {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.form1 {
  width: 60%;
  margin: auto;
  padding: 20px 0 5px 0;
}

.control-formulario {
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.control {
  width: 100%;
  padding: 8px 8px;
  border-radius: 5px;
}

.error{
  color: red;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 2%;
  }

.control-formulario label {
  margin-bottom: 5px;
  margin-left: 15px;
  font-weight: bold;
  display: block;
}

.socialnetwork {
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.socialnetwork button {
  padding: 10px 60px;
  background: #3b5998;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.captcha {
  text-align: right;
  padding: 10px;
}

.button1 {
  padding-top: 10px;
  text-align: center;
  margin: auto;
}

.button1 button {
  background-color: var(--beige);
  padding: 10px 120px;
  border-radius: 10px;
  font-weight: bolder;
  color: var(--negro);
}
.tenescuenta {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 5px;
}

.tenescuenta a {
  font-weight: bold;
}
