:root {
  --negro: #42464a;
  --blanco: #ffffff;
  --azul: #92a0a3;
  --beige: #e2d0bd;
  --gris: #e7e7e7;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gris);
  margin: 0;
  max-width: none;
}

header {
  background-color: var(--beige);
  width: 100%;
}

.detalle_filtros {
  display: flex;
  flex-direction: column;
}

.detalle_filtros h3 {
  font-size: 20px;
  padding: 5px;
}

/*Main*/
main {
  display: flex;
}

.productos {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-top: 50px;
}

.productos img {
  width: 100%;
  border-radius: 10%;
}

.detalle {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-self: center;
  margin: 20px;
  transition: 0.5s;
  border: solid 1px var(--blanco);
  border-radius: 12px;
}

.titulo {
  font-size: 30px;
  font-weight: bold;
  color: var(--negro);
}
.precio {
  font-size: 20px;
  color: #92a0a3;
  padding-bottom: 15px;
}
.botones_productos {
  display: flex;
  justify-content: space-evenly;
}
.botones_productos button {
  width: 100px;
  height: 60px;
  margin: 5px;
  background-color: var(--beige);
  border-radius: 12px;
  font-weight: bolder;
  color: #42464a;
}

.botones_productos div a {
  color: inherit;
}

.filtros {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  width: 500px;
}

/*Media Queries*/

/*Telefono*/
@media (max-width: 480px) {
  .filtros {
    display: none;
  }
}

/*Tablet*/
@media (min-width: 451px) and (max-width: 750px) {
  .productos {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*Desktop*/
@media (min-width: 751px) {
  .productos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .detalle {
    width: 200px;
  }
  main {
    margin-left: 20%;
    margin-right: 20%;
  }

  .botones_productos div {
    font-size: 10px;
    display: unset;
    transition: 0.5s;
  }

  .detalle {
    box-shadow: none;
  }

  .detalle:hover .botones_productos div {
    display: block;
  }

  .detalle:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
}

