<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/style_cart.css">
        <title>Carrito de compras - Nefelibata</title>
    </head>
    <body>
        <div class="main-header">
            <h2>Carrito de compras</h2>
            <a href ="/"><button id="close"><i class="fa-solid fa-circle-xmark"></i></button></a> 
        </div>
        <div class="container">
            <div class="row">
                <main></main>
                    <div class="empty">
                        <p><i class="fa-solid fa-circle-info"></i> El carrito está vacío</p>
                    </div>
                    <div class="products-cart">
                        <article>
                            <div class="container-product">
                                <a href="./products" class="img-product"><img src="/image/producto_2.png"></a>
                                <div class="name-product">
                                    <a href="./products"><h4>Título del producto</h4></a>
                                    <p>Descripción</p>
                                    <form action="#" method="post">
                                        <div class="delete">
                                            <label for="delete"></label>
                                            <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
                                        </div>
                                        <div class="amount">
                                            <button type="submit"><i class="fa-solid fa-circle-minus"></i></button>
                                            <p>0</p>
                                            <button type="submit"><i class="fa-solid fa-circle-plus"></i></button>
                                        </div>
                                    </form>
                                    <div class="price-per-unit">
                                        <p>$0.000,00</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="container-product">
                                <a href="./products" class="img-product"><img src="/image/producto_1.png"></a>
                                <div class="name-product">
                                    <a href="./products"><h4>Título del producto</h4></a>
                                    <p>Descripción</p>
                                    <form action="#" method="post">
                                        <div class="delete">
                                            <label for="delete"></label>
                                            <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
                                        </div>
                                        <div class="amount">
                                            <button type="submit"><i class="fa-solid fa-circle-minus"></i></button>
                                            <p>0</p>
                                            <button type="submit"><i class="fa-solid fa-circle-plus"></i></button>
                                        </div>
                                    </form>
                                    <div class="price-per-unit">
                                        <p>$0.000,00</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="container-product">
                                <a href="./products" class="img-product"><img src="/image/producto_3.png"></a>
                                <div class="name-product">
                                    <a href="./products"><h4>Título del producto</h4></a>
                                    <p>Descripción</p>
                                    <form action="#" method="post">
                                        <div class="delete">
                                            <label for="delete"></label>
                                            <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
                                        </div>
                                        <div class="amount">
                                            <button type="submit"><i class="fa-solid fa-circle-minus"></i></button>
                                            <p>0</p>
                                            <button type="submit"><i class="fa-solid fa-circle-plus"></i></button>
                                        </div>
                                    </form>
                                    <div class="price-per-unit">
                                        <p>$0.000,00</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <section class="subtotal">
                        <div>
                            <p>Subtotal (sin envío):
                        </div>
                        <div>
                            <span></span>$0.000,00</p>
                        </div>
                    </section>
                    <div class="shipp">
                        <form action="cp" action="#" method="post">
                            <div class="shipp-header">
                                <p><strong>Envío gratis</strong> superando los $0.000,00</p>
                            </div>
                            <div class="cp">
                                <p>Entregas para el C.P.: <span>0000</span></p>
                                <button type="">cambiar cp</button>
                            </div>
                            <div class="cp-button">
                                <label for="cp"></label>
                                <input type="text" name="cp" placeholder="Tu código postal">
                                <button type="submit">Calcular</button>
                            </div>
                            <div class="unknow">
                                <a href="#">No sé mi código postal</a>
                            </div>
                            <div class="unknow-message">
                                <p><i class="fa-solid fa-circle-info"></i> No encontramos este código postal</p>
                            </div>
                            <div class="options-shipp-container">
                                <p><i class="fa-solid fa-truck"></i> Envío a domicilio</p>
                                <div class="option-shipp">
                                    <label for="shipp-home">
                                    <div class="radio-container">
                                        <div>
                                            <input type="radio" name="ship" value="" id="shipp-home">
                                        </div>
                                    </div>
                                    <div class="description-container">
                                        <p>Correo - Envío a domicilio</p><br>
                                        <span><i class="fa-solid fa-clock-rotate-left"></i> Info</span>
                                    </div>                                    
                                    <div class="price-continer">
                                        <div>
                                            <span>$000,00</span>
                                        </div>
                                    </div>
                                    </label>
                                </div>
                                <p><i class="fa-solid fa-location-dot"></i> Retirar por</p>
                                <div class="option-shipp">
                                    <label for="shipp-office">
                                    <div class="radio-container">
                                        <div>
                                            <input type="radio" name="ship" value="" id="shipp-office">
                                        </div>
                                    </div>
                                    <div class="description-container">
                                        <p>Punto de retiro</p>
                                        <span><i class="fa-solid fa-clock-rotate-left"></i> Info</span>
                                    </div>   
                                    <div class="price-continer">
                                        <div>
                                            <span>$000,00</span>
                                        </div>
                                    </div>
                                    </label>
                                </div>
                                <p><i class="fa-solid fa-store"></i> Nuestro local</p>
                                <div class="option-shipp">
                                    <label for="our-store">
                                    <div class="radio-container">
                                        <div>
                                            <input type="radio" name="ship" value="" id="our-store">
                                        </div>
                                    </div>
                                    <div class="description-container">
                                        <p>Local</p>
                                        <span></i> Schapira Nº 378 - Carlos Casares - Pcia. de Buenos Aires - Lunes a Viernes de 15:00 a 20:30 Hs.</span>
                                    </div>                                    
                                    <div class="price-continer">
                                        <div>
                                            <span>Gratis</span>
                                        </div>
                                    </div>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="total">
                        <div>
                            <p>Total:</p>
                        </div>
                        <div>
                            <span>$00.000,00</span>
                        </div>
                    </div>
                    <div class="finish-order">
                        <button class="send-button" type="submit">INICIAR COMPRA</button>
                        <br>
                        <a href="#">Ver más productos</a>
                    </div>
            </div>
        </div>
    </body>
</html>