<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta - Nefelibata</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles_confirmation.css">
</head>
<body>
    <header>
        
        <p class="special_offer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio amet commodi</p>
        <div class="top-header">
           <div class="icons-header"><a href=""><i class="fa-solid fa-bars"></i></a></div>
           <div class="logo"><img class="logo" src="image\logo-fondo_claro (sin_fondo).png" alt="logo"></div>
           <div class="icons-header"><a href=""><i class="fa-solid fa-cart-shopping" class="carrito"></i></a></div> 
        </div>

        <nav class="nav-bar">
            <ul>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
            <li><a href="#">Menu 4</a></li>
            <li><a href="#">Menu 5</a></li>
            <li><a href="#">Menu 6</a></li>
            </ul>
        </nav>   

        <div class="path">
            <p>Inicio></p>
            <p>Mi cuenta></p>
            <p>Validación de cuenta</p>
        </div>
        
        <p class="creating-account">CREA TU CUENTA</p>

        <p class="text-benefit">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    </header>
    <main>
        <div class="confirmation">
            <p><i class="fa-solid fa-envelope"></i></p>
            <p class="confirmationp1">¡Estás a un paso de crear tu cuenta!</p>
            <p>Te enviamos un link a:</p>
            <p><a href="">Tunombre@email.com</a></p>
            <p>Para que valides tu información</p>
        </div>  
     
        <p class="resending">¿Todavía no los recibes?<a href="">Enviar link de nuevo</a></p>

    </main>
    <footer>
        <div class="fondo">
            <div class="enLinea">

                <div class="categorias">
                    <h4>Categorias:</h4>
                    <ul>
                        <div class="columna">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Contacto</a></li>
                        </div>
                </div>

                </ul>

                <div class="contacto">
                    <h4>Contactame:</h4>
                    <div class="comunicacion">
                        <i class="fa-solid fa-phone"></i>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>

                <div class="social">
                    <h4>Nos vemos por acá:</h4>
                    <div class="sociales">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="facebook-square"></i>
                    </div>
                </div>
            </div>

            <div class="medios">
                <h4>Medios de pago:</h4>
                <div class="pago">
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-solid fa-money-bill-1"></i>
                </div>
            </div>

            <div class="ayuda">
                <h4>Ayuda:</h4>
                <i class="fa-solid fa-comments"></i>
            </div>

            <div class="wh">
                <i class="fa-brands fa-whatsapp"></i>
            </div>

        </div>
    </footer>
</body>
</html>