<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Nefelibata</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/detalle_producto.css">
</head>
<body>

<header>
<p>HEADER</p>
</header>




<main>

  <section class="detalle_producto">
    <div class="imagenes">
      <img src="image\producto_5.png" alt="imagen 1">
      <img src="image\producto_5.png" alt="imagen 2">
      <img src="image\producto_5.png" alt="imagen 3">
      <img src="image\producto_5.png" alt="imagen 4">
  
    </div>
  
    <div class="imagen_principal">
      <img src="image\producto_5.png" alt="imgaen principal">
    </div>

    <div class="detalle">
      <h2>Nombre Producto</h2>
      <p>Descripcion</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem commodi doloremque ipsam rem ad mollitia, laborum eum! Consequatur dolore pariatur beatae corporis, deserunt consequuntur voluptates nostrum inventore, similique nisi cupiditate.
      </p>
      <button>AGREGAR AL CARRITO</button>
  
    </div>

  </section>
  

</main>



<footer>
  <p>footer</p>

</footer>


  
</body>
</html>