<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/styles_desarrollo.css">
        <title>Nefelibata</title>
    </head>
    <body>
        <header>
            <div class="text-promotion">
                <p><i class="fa-solid fa-heart"></i> 10% de descuento en efectivo <i class="fa-solid fa-heart"></i></p>
            </div>
            <section class="main-header">
                <div class="row">
                    <div class="burguer-menu">
                        <input type="radio" name="modal" id="modal-open">
                        <label for="modal-open" class="burger-menu"><i class="fas fa-bars"></i></label>
                        <div id="modal">
                            <div class="modal-container">
                                <div class="modal-header">
                                    <a href="https://www.instagram.com/nefelibata.encuadernacion/?hl=es-la" target="_blanck" rel="noreferrer noopener"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/Nefelibata-Encuadernacion-102428405736987" target="_blanck" rel="noreferrer noopener"><i class="fa-brands fa-facebook-square"></i></a>
                                    <input type="radio" name="modal" id="modal-close">
                                    <label for="modal-close"><i class="fa-solid fa-circle-xmark"></i></label>
                                </div>
                                <div class="acordeon">
                                    <a href="/">Inicio</a></li>
                                    <a href="#product">Productos</a>
                                        <ul id="product">
                                            <li><a href="#"><strong>Todos los productos</strong></a></li>
                                            <li><a href="#">Agendas</a></li>
                                            <li><a href="#">Cuadernillos</a></li>
                                            <li><a href="#">Cuadernos</a></li>
                                            <li><a href="#">Anotadores</a></li>
                                            <li><a href="#">Álbumes</a></li>
                                            <li><a href="#">Planner</a></li>
                                            <li><a href="#">Imantados</a></li>
                                            <li><a href="#">Libretas</a></li>
                                            <li><a href="#">Otros</a></li>
                                        </ul>
                                    <a href="/contacto.html">Contacto</a>
                                </div>
                                <div class="modal-footer">
                                    <i class="fa-solid fa-user"></i>
                                    <a href="/register">Crear cuenta</a>
                                    <a href="/login">Iniciar sesión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="redes">
                        <div class="instagram">
                            <a href="https://www.instagram.com/nefelibata.encuadernacion/?hl=es-la" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-instagram"></i></a>
                            <br>
                        </div>
                        <div class="facebook">
                            <a href="https://www.facebook.com/Nefelibata-Encuadernacion-102428405736987" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-facebook-square"></i></a>
                            <br>
                        </div>
                    </div>
                    <div class="principal-logo">
                        <a href="#"><img src="/image/logo_sin_fondo.png" class="logo"></a>
                    </div>
                    <div class="login-cart">
                        <div class="login">
                            <a href="/login"><i class="fa-solid fa-user"></i></a>
                            <p>Mi Cuenta</p>
                        </div>
                        <div class="cart">
                            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                            <p>Mi Carrito</p>
                            <span class="cart-widget"></span>
                        </div>
                    </div>
                </div>
                <nav class="navbar">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="#navbar-dropdown">Productos <i class="fa-solid fa-chevron-down"></i></a></li>
                        <li><a href="/contact">Contacto</a></li>
                    </ul>
                </nav>
                <nav id="navbar-dropdown">
                    <ul>
                        <li><a href="#">Agendas</a></li>
                        <li><a href="#">Cuadernillos</a></li>
                        <li><a href="#">Cuadernos</a></li>
                        <li><a href="#">Anotadores</a></li>
                        <li><a href="#">Álbumes</a></li>
                        <li><a href="#">Planner</a></li>
                        <li><a href="#">Imantados</a></li>
                        <li><a href="#">Libretas</a></li>
                        <li><a href="#">Otros</a></li>
                        <li><a href="#">Todos</a></li>
                    </ul>
                </nav>
            </section>
        </header>
        <main>
            
                <!--Carrusel
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/image/producto_1.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/image/producto_2.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/image/producto_3.png" alt="Third slide">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
                -->
                    <!--CARRUSEL-->
        
        </main>
        <footer>
            <div class="main-footer">
                <div class="category">
                    <h2>Categorías</h2>
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/products">Productos</a></li>
                            <li><a href="/contact">Contacto</a></li>
                        </ul>
                </div>
                <div class="contact">
                    <h2>Querés contactarnos?</h2>
                    <ul>
                        <li><a href="https://api.whatsapp.com/send/?phone=542395424929&text&app_absent=0" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-whatsapp"></i> +54 2395 42 4929</a></li>
                        <li><a href="mailto:quierominefelibata@gmail.com?Subject=Quiero%20mi%20Nefelibata%20" target="_blank" rel="noreferrer noopener"><i class="fa-solid fa-envelope"></i> quierominefelibata@gmail.com</a></li>
                        <li><a href="https://www.google.com.ar/maps/place/Schapira+378,+Carlos+Casares,+Provincia+de+Buenos+Aires/@-35.6133172,-61.3621189,17z/data=!3m1!4b1!4m5!3m4!1s0x95c082384c94d26f:0xf8034bbd4431b8cd!8m2!3d-35.6133216!4d-61.3599302" target="_blank" rel="noreferrer noopener"><i class="fa-solid fa-location-dot"></i> Av Schapira 378 (Carlos Casares, BSAS)</a></li>
                    </ul>  
                </div>
            </div>
            <div class="payment">
                <h2>Medios de pago</h2>
                    <img src="/image/efectivo_1.png" alt="">
                    <img src="/image/transferencia.png" alt="">
                    <img src="/image/cuentadni.png" alt="">
                    <img src="/image/mercadopago.png" alt="">
            </div>
        </footer>        
    </body>
</html>