<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - Nefelitaba</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles_passwordrecovery.css">
</head>
<body>
    <header>
        
        <p class="special_offer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio amet commodi</p>
        <div class="top-header">
           <div class="icons-header"><a href=""><i class="fa-solid fa-bars"></i></a></div>
           <div class="logo"><img class="logo" src="image\logo-fondo_claro (sin_fondo).png" alt="logo"></div>
           <div class="icons-header"><a href=""><i class="fa-solid fa-cart-shopping" class="carrito"></i></a></div> 
        </div>

        <nav class="nav-bar">
            <ul>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
            <li><a href="#">Menu 4</a></li>
            <li><a href="#">Menu 5</a></li>
            <li><a href="#">Menu 6</a></li>
            </ul>
        </nav>   

        <div class="path">
            <p>Inicio></p>
            <p>Mi cuenta></p>
            <p>Recuperar contraseña</p>
        </div>
        
        <p class="creating-account">RECUPERAR CONTRASEÑA</p>

    </header>
    <main>

    
         <div class="socialnetwork">
         <button type="submit">Recuperar con <i class="fa-brands fa-facebook-square"></i>
            FACEBOOK</button>
        </div>


        <form action="../views/password_recovery.html" method="post" class="form1">
            <div class="control-formulario"> 
                <label for="email">Email</label>
                <input type="email" name="Email" id="email" placeholder="Minombre@mail.com" required class="control">
            </div>
            <div class="button1">
              <button type="submit">Enviar email</button>
            </div>
        </form>

        <p class="tenescuenta">¿Aún no lo recibes? <a href="http://localhost:5000/register">Reenviar</a></p>

    </main>
    <footer>
        <h2>FOOTER</h2>
    </footer>
</body>
</html>
</body>
</html>