<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Nefelibata</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles_products.css">
</head>
<body>
    <header>

        <div class="elementos_header">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        </div>

       <div class="logo">
           <img src="image\logo-fondo_claro (sin_fondo).png" alt="logo">
       </div>

       <div class="elementos_header">
        <a href="/"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href=""><i class="fa-solid fa-user"></i></a>
       </div>

    </header>
    
    <main>
        <section class="categorias">
            <h2>Categorias</h2>
            <a href="">Dato 1</a>
            <a href="">Dato 2</a>
            <a href="">Dato 3</a>


        </section>



        <section class="productos">

            <article class="detalle">
                <div>
                    <img src="image\producto_1.png" alt="producto_1">
                </div>
                <div>
                    <div class="titulo">Producto 1</div>
                    <div class="precio">Precio</divc>
                </div>
                <div class="botones_productos">
                    <div>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Comprar</a>
                    </div>
                    <div>
                        <a href=""><i class="fa-solid fa-eye"></i> Vista</a>
                    </div>
                </div>
            </article>





            <article class="detalle">
                <div>
                    <img src="image\producto_2.png" alt="producto_2">
                </div>
                <div>
                    <div class="titulo">Producto 2</div>
                    <div class="precio">Precio</div>
                </div>
                <div class="botones_productos">
                    <div>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Comprar</a>
                    </div>
                    <div>
                        <a href=""><i class="fa-solid fa-eye"></i> Vista</a>
                    </div>
                </div>
            </article>


            <article class="detalle">
                <div>
                    <img src="image\producto_3.png" alt="producto_3">
                </div>
                <div>
                    <div class="titulo">Producto 3</div>
                    <div class="precio">Precio</div>
                </div>
                <div class="botones_productos">
                    <div>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Comprar</a>
                    </div>
                    <div>
                        <a href=""><i class="fa-solid fa-eye"></i> Vista</a>
                    </div>
                </div>
                
            </article>

            <article class="detalle">
                <div>
                    <img src="image\producto_4.png" alt="producto_4">
                </div>
                <div>
                    <div class="titulo">Producto 4</div>
                    <div class="precio">Precio</div>
                </div>

                <div class="botones_productos">
                    <div>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Comprar</a>
                    </div>
                    <div>
                        <a href=""><i class="fa-solid fa-eye"></i> Vista</a>
                    </div>
                </div>
            </article>

            
            <article class="detalle">
                <div>
                    <img src="image\producto_1.png" alt="producto_1">
                </div>
                <div>
                    <div class="titulo">Producto 1</div>
                    <div class="precio">Precio</divc>
                </div>
                <div class="botones_productos">
                    <div>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Comprar</a>
                    </div>
                    <div>
                        <a href=""><i class="fa-solid fa-eye"></i> Vista</a>
                    </div>
                </div>
            </article>





            <article class="detalle">
                <div>
                    <img src="image\producto_2.png" alt="producto_2">
                </div>
                <div>
                    <div class="titulo">Producto 2</div>
                    <div class="precio">Precio</div>
                </div>
                <div class="botones_productos">
                    <div>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Comprar</a>
                    </div>
                    <div>
                        <a href=""><i class="fa-solid fa-eye"></i> Vista</a>
                    </div>
                </div>
            </article>


            <article class="detalle">
                <div>
                    <img src="image\producto_3.png" alt="producto_3">
                </div>
                <div>
                    <div class="titulo">Producto 3</div>
                    <div class="precio">Precio</div>
                </div>
                <div class="botones_productos">
                    <div>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Comprar</a>
                    </div>
                    <div>
                        <a href=""><i class="fa-solid fa-eye"></i> Vista</a>
                    </div>
                </div>
                
            </article>
            
            <article class="detalle">
                <div>
                    <img src="image\producto_4.png" alt="producto_4">
                </div>
                <div>
                    <div class="titulo">Producto 4</div>
                    <div class="precio">Precio</div>
                </div>

                <div class="botones_productos">
                    <div>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Comprar</a>
                    </div>
                    <div>
                        <a href=""><i class="fa-solid fa-eye"></i> Vista</a>
                    </div>
                </div>
            </article>

        </section>
    </main>




</body>
</html>