<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Nefelibata</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles_products.css">
</head>
<body>
    <header>

        <div class="elementos_header">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        </div>

       <div class="logo">
           <img src="image\logo-fondo_claro (sin_fondo).png" alt="logo">
       </div>

       <div class="elementos_header">
        <a href="/"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href=""><i class="fa-solid fa-user"></i></a>
       </div>

    </header>
    
    <main>
        <section>
            <h2>Categorias</h2>
        </section>
        <section>
            <article class="productos">
                <img src="image\producto_1.png" alt="producto_1">
                <div>
                    <ul>
                        <li>Producto 1</li>
                        <li>Precio</li>
                        <li>Forma de Pago</li>
                    </ul>
                </div>
            </article>
            <article class="productos">
                <img src="image\producto_2.png" alt="producto_2">
                <div>
                    <ul>
                        <li>Producto 2</li>
                        <li>Precio</li>
                        <li>Forma de Pago</li>
                    </ul>
                </div>
            </article>
            <article class="productos">
                <img src="image\producto_3.png" alt="producto_3">
                <div>
                    <ul>
                        <li>Producto 3</li>
                        <li>Precio</li>
                        <li>Forma de Pago</li>
                    </ul>
                </div>
            </article>
            <article class="productos">
                <img src="image\producto_4.png" alt="producto_4">
                <div>
                    <ul>
                        <li>Producto 4</li>
                        <li>Precio</li>
                        <li>Forma de Pago</li>
                    </ul>
                </div>
            </article>





        </section>
    </main>




</body>
</html>