<footer>
    <div class="main-footer">
        <div class="category">
            <h2>Categorías</h2>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/products">Productos</a></li>
                    <li><a href="/contact">Contacto</a></li>
                </ul>
        </div>
        <div class="contact">
            <h2>Querés contactarnos?</h2>
            <ul>
                <li><a href="https://api.whatsapp.com/send/?phone=542395424929&text&app_absent=0" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-whatsapp"></i> +54 2395 42 4929</a></li>
                <li><a href="mailto:quierominefelibata@gmail.com?Subject=Quiero%20mi%20Nefelibata%20" target="_blank" rel="noreferrer noopener"><i class="fa-solid fa-envelope"></i> quierominefelibata@gmail.com</a></li>
                <li><a href="https://www.google.com.ar/maps/place/Schapira+378,+Carlos+Casares,+Provincia+de+Buenos+Aires/@-35.6133172,-61.3621189,17z/data=!3m1!4b1!4m5!3m4!1s0x95c082384c94d26f:0xf8034bbd4431b8cd!8m2!3d-35.6133216!4d-61.3599302" target="_blank" rel="noreferrer noopener"><i class="fa-solid fa-location-dot"></i> Av Schapira 378 (Carlos Casares, BSAS)</a></li>
            </ul>  
        </div>
    </div>
    <div class="payment">
        <h2>Medios de pago</h2>
            <img src="/image/efectivo_1.png" alt="">
            <img src="/image/transferencia.png" alt="">
            <img src="/image/cuentadni.png" alt="">
            <img src="/image/mercadopago.png" alt="">
    </div>
</footer>        
</body>
</html>