<header>
    <div class="text-promotion">
        <p><i class="fa-solid fa-heart"></i> 10% de descuento en efectivo <i class="fa-solid fa-heart"></i></p>
    </div>
    <section class="main-header">
        <div class="row">
            <div class="burguer-menu">
                <input type="radio" name="modal" id="modal-open">
                <label for="modal-open" class="burger-menu"><i class="fas fa-bars"></i></label>
                <div id="modal">
                    <div class="modal-container">
                        <div class="modal-header">
                            <a href="https://www.instagram.com/nefelibata.encuadernacion/?hl=es-la" target="_blanck" rel="noreferrer noopener"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.facebook.com/Nefelibata-Encuadernacion-102428405736987" target="_blanck" rel="noreferrer noopener"><i class="fa-brands fa-facebook-square"></i></a>
                            <input type="radio" name="modal" id="modal-close">
                            <label for="modal-close"><i class="fa-solid fa-circle-xmark"></i></label>
                        </div>
                        <div class="acordeon">
                            <a href="/">Inicio</a></li>
                            <a href="#product">Productos</a>
                                <ul id="product">
                                    <li><a href="#"><strong>Todos los productos</strong></a></li>
                                    <li><a href="#">Agendas</a></li>
                                    <li><a href="#">Cuadernillos</a></li>
                                    <li><a href="#">Cuadernos</a></li>
                                    <li><a href="#">Anotadores</a></li>
                                    <li><a href="#">Álbumes</a></li>
                                    <li><a href="#">Planner</a></li>
                                    <li><a href="#">Imantados</a></li>
                                    <li><a href="#">Libretas</a></li>
                                    <li><a href="#">Otros</a></li>
                                </ul>
                            <a href="/contact">Contacto</a>
                        </div>
                        <div class="modal-footer">
                            <i class="fa-solid fa-user"></i>
                            <a href="/register">Crear cuenta</a>
                            <a href="/login">Iniciar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="redes">
                <div class="instagram">
                    <a href="https://www.instagram.com/nefelibata.encuadernacion/?hl=es-la" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-instagram"></i></a>
                    <br>
                </div>
                <div class="facebook">
                    <a href="https://www.facebook.com/Nefelibata-Encuadernacion-102428405736987" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-facebook-square"></i></a>
                    <br>
                </div>
            </div>
            <div class="principal-logo">
                <a href="#"><img src="/image/logo_sin_fondo.png" class="logo"></a>
            </div>
            <div class="login-cart">
                <div class="login">
                    <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                    <p>Mi Cuenta</p>
                </div>
                <div class="cart">
                    <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    <p>Mi Carrito</p>
                    <span class="cart-widget"></span>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#navbar-dropdown">Productos <i class="fa-solid fa-chevron-down"></i></a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
        <nav id="navbar-dropdown">
            <ul>
                <li><a href="#">Agendas</a></li>
                <li><a href="#">Cuadernillos</a></li>
                <li><a href="#">Cuadernos</a></li>
                <li><a href="#">Anotadores</a></li>
                <li><a href="#">Álbumes</a></li>
                <li><a href="#">Planner</a></li>
                <li><a href="#">Imantados</a></li>
                <li><a href="#">Libretas</a></li>
                <li><a href="#">Otros</a></li>
                <li><a href="#">Todos</a></li>
            </ul>
        </nav>
    </section>
</header>
<div class="header-background"></div>
<div class="whatsapp">
    <a href="https://api.whatsapp.com/send/?phone=542395424929&text&app_absent=0" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-whatsapp"></i></a>
</div>