<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head") %>

    <link rel="stylesheet" href="../css/styles.css">
    <title>Ups! - Nafelibata</title>
</head>

<body>
    <%- include("../partials/header") %>

        <main class="not-found-main">
            <div class="not-found">
                <a href="/"><img src="/images/background/error_404.jpeg"></a>
            </div>
        </main>


        <%- include("../partials/footer") %>
</body>

</html>