<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head") %>

    <link rel="stylesheet" href="../css/styles.css">
    <title>Ups! - Nafelibata</title>
</head>

<body>
    <%- include("../partials/header") %>

        <main class="not-found-main">
        <div class="not-found">
            <h1>Lo sentimos, esta página no está disponible</h1>
            <a href="/"><img src="/images/logos/logo_sin_fondo.png"></a>
        </div>
        <div>
        </div>
        </main>


        <%- include("../partials/footer") %>
</body>

</html>