<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head") %>

    <link rel="stylesheet" href="../css/styles.css">
<<<<<<< HEAD
    <title>Ups! - Nafelibata</title>
=======
    <title>Error</title>
>>>>>>> 9f48160a429e26892575ad98ba8a62c2a6735154
</head>

<body>
    <%- include("../partials/header") %>

        <main>
        <div class="not-found">
            <h1>Esta página no está disponible</h1>

            <img src="/images/logo_N.png" class="">
        </div>
        </main>


        <%- include("../partials/footer") %>
</body>

</html>