<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head") %>

    <link rel="stylesheet" href="../css/styles.css">
    <title>Not Found</title>
</head>

<body>
    <%- include("../partials/header") %>

        <main>

            <h2>¡Caramba! Esta página no se encuentra</h2>
            <img src="/images/fondo_2.png" class="Error">

        </main>


        <%- include("../partials/footer") %>
</body>

</html>