<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles_users.css">
    <title>Crear cuenta - Nefelibata</title>
</head>
<body>
    
    <%- include("../partials/header") %>

    <main>
        <div class="path">
            <p>Inicio ></p>
            <p>Mi cuenta ></p>
            <p>Validación de cuenta</p>
        </div>
        
        <p class="creating-account">CREA TU CUENTA</p>

        <p class="text-benefit">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

   
        <div class="confirmation">
            <p><i class="fa-solid fa-envelope"></i></p>
            <p class="confirmationp1">¡Estás a un paso de crear tu cuenta!</p>
            <p>Te enviamos un link a:</p>
            <p><a href="">Tunombre@email.com</a></p>
            <p>Para que valides tu información</p>
        </div>  
     
        <p class="resending">¿Todavía no los recibes?<a href="">Enviar link de nuevo</a></p>

    </main>

    <%- include("../partials/footer") %>
    
    
</body>
</html>