<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles_login.css">
    <title>Iniciar sesión - Nefelitaba</title>
</head>
<body>
    
    <%- include("../partials/header") %>

    <main>
        <div class="path">
            <p>Inicio ></p>
            <p>Mi Cuenta ></p>
            <p>Login</p>
        </div>

        <p class="creating-account">INICIÁ SESIÓN</p>

    
        
        
        <form action="/users/login" method="POST" class="form1">
            <div class="control-formulario">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="minombre@mail.com" required class="control">
                <% if (locals.errors && errors.email) { %>
                <div class="error">
                    <%= errors.email.msg %>
                </div>
                <% } %>
            </div>
            <div class="control-formulario">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Al menos 8 carácteres" required class="control"><br>
                <p class="tenescuenta"><a href="/users/recovery">¿Olvidaste tu contraseña?</a></p>
            </div>
            <div class="col-md-6 my-2"> <!--Sabrina. agregue de esta linea hasta 52 para recordar el usuario. Está bien?-->
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                    </label>
                </div>
            </div>
            <div class="button1">
              <button type="submit">Iniciar sesión</button>
            </div>
        </form>

        <p class="tenescuenta">¿No tenés cuenta aún?<a href="/users/register"> Crear cuenta</a></p>

      
        
        <div class="socialnetwork">
        <button type="submit">Iniciá sesión con <i class="fa-brands fa-facebook-square"></i>
           FACEBOOK</button>
        </div>
        
    </main>
    
    <%- include("../partials/footer") %> 
</body>
</html>
