<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="../css/styles_passwordrecovery.css">
        <title>Recuperar contraseña - Nefelitaba</title>
    </head>
<body>

    <%- include("../partials/header") %>

    <main>
        <div class="path">
            <p>Inicio></p>
            <p>Mi cuenta></p>
            <p>Recuperar contraseña</p>
        </div>
        
        <p class="creating-account">RECUPERAR CONTRASEÑA</p>


         <div class="socialnetwork">
         <button type="submit">Recuperar con <i class="fa-brands fa-facebook-square"></i>
            FACEBOOK</button>
        </div>


        <form action="../views/password_recovery.html" method="post" class="form1">
            <div class="control-formulario"> 
                <label for="email">Email</label>
                <input type="email" name="Email" id="email" placeholder="Minombre@mail.com" required class="control">
            </div>
            <div class="button1">
              <button type="submit">Enviar email</button>
            </div>
        </form>

        <p class="tenescuenta">¿Aún no lo recibes? <a href="http://localhost:5000/register">Reenviar</a></p>

    </main>

    <%- include("../partials/footer") %> 
</body>
</html>
