<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles_register.css">
    <title>Registro - Nefelibata</title>
</head>
<body>
    
    <%- include("../partials/header") %>

    <main>

        <div class="path">
            <p>Inicio></p>
            <p>Mi cuenta></p>
            <p>Crear Cuenta</p>
        </div>
        
        <p class="creating-account">CREA TU CUENTA</p>

        <p class="text-benefit">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
 
    
         <div class="socialnetwork">
         <button type="submit">Crea Cuenta con <i class="fa-brands fa-facebook-square"></i>
            FACEBOOK</button>
        </div>


        <form action=" /users/register" method="POST" class="form1">
            <div class="control-formulario">
                <label for="firstName">Nombre</label>
                <input type="text" name="firstName" id="firstName" placeholder="Ej. Mario" required class="control">
            </div>
            <div class="control-formulario">
                <label for="lastName">Apellido</label>
                <input type="text" name="lastName" id="lastName" placeholder="Ej. Pérez" required class="control">
            </div>
            <div class="control-formulario"> 
                <label for="email">Email</label>
                <input type="email" name="Email" id="email" placeholder="Minombre@mail.com" required class="control">
            </div>
            <div class="control-formulario">    
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password placeholder="Máximo 10 carácteres" required class="control">
            </div>
            <div class="control-formulario">    
                <label for="password1">Confirmar Contraseña</label>
                <input type="password" name="password1" id="password1" required placeholder="Confirmar" class="control">
            </div>
            <div class="control-formulario">
                <label for="category">Categoria</label>
                <select name="category" required>
                    <option >Admin</option>
                    <option >Client</option>
                    <option >Categoria 3</option>
                    <option >Categoria 4</option>
                </select>
            </div>

            
            <div class="control-formulario">
                <label>Avatar</label>
                <input type="file" accept=".jpg, .pdf .jepg" multiple class="control">
            </div>

            <div class="captcha">
                <input type="checkbox" name="captcha">
                <label for="captcha">No soy un robot.</label>
            </div>
            <div class="button1">
              <button type="submit">Crear Cuenta</button>
            </div>
        </form>

        <p class="tenescuenta">¿Ya tenés cuenta?<a href="/users/login">Inicia sesión</a></p>

    </main>

    <%- include("../partials/footer") %>

    
</body>
</html>