<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles_register.css">
    <title>Crear cuenta - Nefelibata</title>
</head>
<body>
    
    <%- include("../partials/header") %>

    <main>

        <div class="path">
            <p>Lista de Usuarios</p>
        </div>
        
            <div class="button1">
              <button type="submit">Crear Cuenta</button>
            </div>
        </form>

        <p class="tenescuenta">¿Ya tenés cuenta?<a href="http://localhost:5000/login">Inicia sesión</a></p>

    </main>

    <%- include("../partials/footer") %>

    
</body>
</html>